* {
    font-family: 'Asheville Sans', sans-serif;
    
   
}

body {
    margin-left: 5rem;
    margin-right:  5rem;
    background-size: 100%;
    background-repeat: no-repeat;
     
}
.nav-container ul {
    display: flex;
    justify-content: right;
    margin: 1.5rem;
}

.nav-container ul li {
    margin: 1rem;
    list-style: none;
}

.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}



.hero-left {
    width: 70%;
    padding: 10%  0 0 7%;
}

.hero-left h1 {
    font-size: 4.5rem;
    margin:0%;
    padding-top: 5rem;
    padding-right: 0%;
}

.hero-left p {
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 2rem;
}

.hero-button {
    float: left;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.5rem;
    display: flex;
    cursor: pointer;
    transition: all 0.5s;
  position: relative;
  background-color: white;
}

.hero-button:hover {
    background-color: rgb(240, 149, 240);
}

.hero-right img {
    width: 40vw;
    justify-self: center;
    margin-top: 3%;

}

i {
    padding-left: 0.3rem;
}

.about-container{
    margin:5rem 5rem 5rem;
    display: flex;
    gap: 6rem;
    max-width: 100vw;
    

}

.skills {
    display: flex;
    flex-direction: column;
    flex: 1;

}
.skills h1 {
    font-size: 3.5rem;
    margin-top:3rem;
    margin-bottom: 0;
    text-align: center;
}


.skill-items ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-items ul li {
    list-style: none;
    border: black solid 1px;
    border-radius: 20px;
    text-align: center;
    padding: 0.5rem;
    margin: 0.2rem 0.2rem 0.2rem 0;
}

.about {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 40%;
    resize: none;
    
}

.about h1 {
    margin-bottom: 0;
    font-size: 3.5rem;
}

.about p {
    font-size: 1.2rem;
    font-style:oblique;
    line-height: 1.8rem;
}

.about-shape {
    margin-bottom: 2rem;
    width: 70vh;
    height: 50vh;
}

.wavy-lines {
    margin-top: 3rem;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 7rem;
}

.item-1 ,.item-2, .item-3 {
    border:black 2px solid;
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem;
    max-width: 20%;
    flex-wrap: wrap;
}
.item-1 h1 ,.item-2 h1, .item-3 h1{
    border:black 2px solid;
    padding: 4rem 2rem;
    border-radius: 20px;
}

.project-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 7rem;
}

.project-container button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    background-color: white;
}

.project-container button:hover {
    background-color: rgb(240, 149, 240);
}

.email {
    color: black;
    font-size: 2rem;
    border: 2px solid black;
    padding:1rem;
    border-radius: 20px;
    margin-top: 4rem;
    text-decoration: none;
    margin-bottom: 10rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.email:hover {
    background-color: rgb(240, 149, 240);
}

.email-link {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

span {
    background-color: chartreuse;
}
ul a {
    text-decoration: none;
    color: black;
    padding-bottom: 3px;
    position: relative;
}

ul a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(20, 20, 20);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }


ul a:hover:after {
    width: 100%; 
  left: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
         margin:0.2rem;
    }
    .hero-container {
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hero-button {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .hero-left p {
        font-size: 1rem;
        text-align: center;
        margin-top: 1.4rem;
    }

    .hero-right img {
        width: 50vh;
        margin-top: 3rem;
    }

    .about-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 6rem;
        align-content: center;
        gap: 2rem;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;
        
    }

    .about {
        margin-left: 5rem;
    }
    .about p {
        font-size: 1rem;
        display: flex;
        width: 35vh;
        line-height: 1rem;
        float: left;

    }

    .wavy-lines {
        width: 30vh;
        margin-top: 0;
    }

    .about-shape {
        display: none;
    }

    .skills {
        float: left;
        align-content: center;
        padding-left: 0;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-left: 2rem;
        margin-bottom: 0;
    }

    .project-title {
        font-size: 2rem;
    }

    .item-1 ,.item-2, .item-3{
            border:black 2px solid;
            margin: 1rem;
            border-radius: 20px;
            padding: 1rem;
            max-width: 70%;
            flex-wrap: wrap;
            align-content: center;
        }

        .email {
            font-size: 1rem;
            margin-bottom: 3rem;
        }
        
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)  {

    nav {
        float: right;
    }

    body {
        margin:0.8rem;
   }
   .hero-container {
       padding-top: 4rem;
       display: flex;
       flex-direction: row;
       padding-bottom: 3rem;
       height: 50vh;
   }

   .hero-button {
       font-size: 1rem;
   }

   .hero-left p {
       font-size: 1rem;
       
   }

    .hero-right {
        display: flex;
        
    }
   .hero-right img {
       margin-top: 5rem;
       margin-left: 0;
   }

   .about-container {
       display: flex;
       align-content: center;
       justify-content: center;
       margin: 0;
       gap: 2rem;
   }

   .about-shape {
       width: 40vw;
       height: 30vh;
       margin-left: 4rem;
   }

  
       .email {
           margin-bottom: 6rem;
           margin-top: 1rem;
       }
       
}

@media screen and (orientation:landscape) {
    .hero-container {
        margin-top: 4rem;
     }
          
      
     .hero-right img {
         width: 50vw;
         height: 90vh;
     }
     
     .about-container {
        padding-top: 18rem;
     }
     
     .about-shape {
        width: 30vw;
        height: 50vh;
        padding-top: 3rem;
     }
     
     
        
        
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hero-container {
        min-height: 100%;
    }

    .about {
        width: 40%;
        
    }
}